{% extends "layout.html" %}

{% block content %}

{% if not user %}

<div class="container">
  <div class="text-center mt-4">
    <h1>Log into Spotify <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
        class="bi bi-spotify" viewBox="0 0 16 16">
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z" />
      </svg></h1>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center p-4">
      <a type="button" class="btn btn-success rounded-pill" style="width: 30%" href="/auth">LOG IN</a>
    </div>
  </div>
</div>

{% else %}

<div class="container">
  <div class="row text-center mt-4">
    <h1>Create a Library Playlist</h1>
    <p class="py-2">This app compiles all the songs in your <b>playlist</b>, <b>saved albums</b>, and <b>saved tracks</b> into one big playlist
      allowing you to shuffle your entire Library! By default tracks added in a random order.</p>
  </div>
  <div class="row my-3">
    <div class="col-4">
      <h3 class="mb-3">Welcome {{ user.display_name }}!</h3>
      {% if user.images %}
      <img src="{{user.images[0].url}}" class="img-fluid">
      {% else %}
      <img src="http://bit.ly/2nXRRfX" class="img-fluid">
      {% endif %}
    </div>
    <div class="col-4">
      <h3 class="mb-3">1. Review Songs in Library</h3>
      <div class="text center p-4">
        <a class="btn btn-success rounded-pill" style="width: 100%" href="/get-library-tracks" role="button">Retrieve All Library
          Songs</a>
      </div>
      <div class="card" style="height: 350px; overflow-y: scroll;">
        <div class="card-header">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search songs" aria-label="Search songs" aria-describedby="search-button">
            <button class="btn btn-outline-success" type="button" id="search-button">Search</button>
          </form>
        </div>
        <div class="mt-2">
          {% for tracks in library_tracks %}
          <ul class="list-unstyled">
            <li class="ps-3">
              <input class="form-check-input" type="checkbox" value="" id="{{ tracks.name }}" checked>
              <label class="form-check-label" for="{{ tracks.name }}" style="margin-left: 10px;">
                <a href="{{ tracks.url }}"><span>{{ tracks.name }} </span></a>
              </label>
            </li>
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-4">

      {% if not new_playlist %}

      <h3 class="mb-3">2. Create Library Playlist</h3>
      <form action="/create-playlist" method="post">
        <div class="mb-3">
          <label for="PlaylistName" class="form-label">Playlist Name:</label>
          <input type="text" class="form-control" value="My Library" id="PlaylistName" name="PlaylistName" required>
        </div>
        <div class="mb-3">
          <label for="PlaylistDescription" class="form-label">Description:</label>
          <input type="text" class="form-control" value="All songs in my Library" id="PlaylistDescription" name="PlaylistDescription">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="Public-Private" name="Public-Private">
          <label class="form-check-label" for="Public-Private">Make Private</label>
        </div>
        <div class="col text-center mt-5">
          <button class="btn btn-success rounded-pill" style="width: 60%" href="/create-playlist" role="submit">Create Playlist</button>
        </div>
      </form>
      
      {% else %}
      
      <h3 class="mb-3">{{ new_playlist.name }} playlist was created!</h3>
      <p class="text-center">Your playlist has {{ new_playlist.tracks.total }} songs, enjoy!</p>

      {% endif %}

    </div>
  </div>

</div>

{% endif %}

{% endblock %}